<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yq.dao.community.JdbMessageReplayMapper" >
  <resultMap id="BaseResultMap" type="com.yq.entity.community.JdbMessageReplay" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="open_id" property="openId" jdbcType="VARCHAR" />
    <result column="to_open_id" property="toOpenId" jdbcType="VARCHAR" />
    <result column="message_id" property="messageId" jdbcType="BIGINT" />
    <result column="publish_time" property="publishTime" jdbcType="TIMESTAMP" />
    <result column="is_praise" property="isPraise" jdbcType="TINYINT" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.yq.entity.community.JdbMessageReplay" extends="BaseResultMap" >
    <result column="replay_content" property="replayContent" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, open_id, to_open_id, message_id, publish_time, is_praise
  </sql>
  <sql id="Blob_Column_List" >
    replay_content
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from jdb_message_replay
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from jdb_message_replay
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.yq.entity.community.JdbMessageReplay" >
    insert into jdb_message_replay (id, open_id, to_open_id, 
      message_id, publish_time, is_praise, 
      replay_content)
    values (#{id,jdbcType=BIGINT}, #{openId,jdbcType=VARCHAR}, #{toOpenId,jdbcType=VARCHAR}, 
      #{messageId,jdbcType=BIGINT}, #{publishTime,jdbcType=TIMESTAMP}, #{isPraise,jdbcType=TINYINT}, 
      #{replayContent,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.yq.entity.community.JdbMessageReplay" >
    insert into jdb_message_replay
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="openId != null" >
        open_id,
      </if>
      <if test="toOpenId != null" >
        to_open_id,
      </if>
      <if test="messageId != null" >
        message_id,
      </if>
      <if test="publishTime != null" >
        publish_time,
      </if>
      <if test="isPraise != null" >
        is_praise,
      </if>
      <if test="replayContent != null" >
        replay_content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="openId != null" >
        #{openId,jdbcType=VARCHAR},
      </if>
      <if test="toOpenId != null" >
        #{toOpenId,jdbcType=VARCHAR},
      </if>
      <if test="messageId != null" >
        #{messageId,jdbcType=BIGINT},
      </if>
      <if test="publishTime != null" >
        #{publishTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isPraise != null" >
        #{isPraise,jdbcType=TINYINT},
      </if>
      <if test="replayContent != null" >
        #{replayContent,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yq.entity.community.JdbMessageReplay" >
    update jdb_message_replay
    <set >
      <if test="openId != null" >
        open_id = #{openId,jdbcType=VARCHAR},
      </if>
      <if test="toOpenId != null" >
        to_open_id = #{toOpenId,jdbcType=VARCHAR},
      </if>
      <if test="messageId != null" >
        message_id = #{messageId,jdbcType=BIGINT},
      </if>
      <if test="publishTime != null" >
        publish_time = #{publishTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isPraise != null" >
        is_praise = #{isPraise,jdbcType=TINYINT},
      </if>
      <if test="replayContent != null" >
        replay_content = #{replayContent,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.yq.entity.community.JdbMessageReplay" >
    update jdb_message_replay
    set open_id = #{openId,jdbcType=VARCHAR},
      to_open_id = #{toOpenId,jdbcType=VARCHAR},
      message_id = #{messageId,jdbcType=BIGINT},
      publish_time = #{publishTime,jdbcType=TIMESTAMP},
      is_praise = #{isPraise,jdbcType=TINYINT},
      replay_content = #{replayContent,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yq.entity.community.JdbMessageReplay" >
    update jdb_message_replay
    set open_id = #{openId,jdbcType=VARCHAR},
      to_open_id = #{toOpenId,jdbcType=VARCHAR},
      message_id = #{messageId,jdbcType=BIGINT},
      publish_time = #{publishTime,jdbcType=TIMESTAMP},
      is_praise = #{isPraise,jdbcType=TINYINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>