/*公共样式*/
html,body {
    margin:0;
    padding:0;
}
.li_bgcolorstyle {
    display: block;
    background:#E9E5E1;
}

a {
    text-decoration: none;
    list-style: none;
}

ul,li {
    padding:0;
    margin:0;
    list-style: none;
}

/*浮动*/

.left {
    float: left;
}

.right {
    float: right;
}
/*1.安居卡-绑定并支付*/

.li_bdpay{
    overflow: hidden;
    display: flex;
    position: relative;
}


.li_paycode {
    position:absolute;
    top:5px;
    right:0;
}
.li_bdmeg p{
    padding-top:5px;
}
.li_bdp {
    width: 140px;

}

.li_bdpay .li_code {
    width: 140px;
}

/*.li_head {*/
    /*height: 110px;*/
    /*overflow: hidden;*/
    /*display: flex;*/
/*}*/
/*.li_ajkimg {*/
    /*width: 100px;*/
/*}*/

/*.li_bdmeg {*/
    /*position: relative;*/
/*}*/

/*.li_bdmeg #userPhone {*/
    /*position: absolute;*/
    /*top:55px;*/

/*}*/

/*.li_bdmeg #code {*/
    /*position: absolute;*/
    /*top:95px;*/
/*}*/


/*.li_bdmeg #userAddr{*/
    /*position: absolute;*/
    /*top:138px;*/
/*}*/

/*.li_bdmeg .code a {*/
    /*display: inline-block;*/
    /*position: absolute;*/
    /*top: 105px;*/
    /*right:10px;*/
    /*background:#E9E5E1;*/
    /*z-index: 1;*/
/*}*/


/*.li_ajktxt {*/
    /*width: 100%;*/
    /*margin:20px 20px;*/
/*}*/



    /*2.社区服务*/

.sjsc-title1 .le {
    position: relative;
}


.gy_top1 {
    border-bottom:0.3px solid #FFB56B;
    height: 225px;
}

.gy_top img {
    width: 100%;
    height: 50%;
}

.fw_img {
    width: 100%;
    margin:2px;
    border-top:0.3px solid #FFB56B;
}


.gy_top .text{
    font-size: 13px;
}


.fw_img img {
    width: 63%;
    padding-left: 16px;

}

.fw_img a {
    display: block;
    border-size:border-box;
    padding-top: 0.5rem;
    float: left;
}

.fw_img p {
    font-size: 13px;
    padding-left: 25px;
    padding-top: 10px;

}


.gy_jr {
    position: relative;
    margin-top:10%;
}

.gy_title {
    display: inline-block;
    margin-left: -2%;
}


.gy_ico3 img {
    width: 6%;
    position: absolute;
    top: 27%;
    left: 1%;

}

#li_indstyle{
 margin-top:-5px;

}


/*3.安居卡-提交申请*/
.li_line {
    width: 100%;
    overflow: hidden;
    display: flex;
    position: relative;
}

.li_line p {
    width: 100px;
    padding-top: 5px;
    padding-left: 10px;
}
.li_line .txcode {
     width: 120px;
 }

.li_line .proposer{
      width: 150px;
}

.li_line .li_input {
    width: 100%;
}

.vcode .yzcode {
  position: absolute;
    top:13px;
    right: 10px;
}

.li_c {
    background:#EBE4DD;
}


/*安居卡-绑定至本卡*/
.drdd-info4 .li_inputplace{
    width: 100%;
    box-sizing: border-box;
    margin-top: 5px;
}

.li-title2 {
    height: 136px;
}

.li-title2 sjsc-t2r {
    display: block;
    border:1px solid red;
}

.li-title2 .li_top {
    padding:0;
    margin:0;
    height: 100px;
    overflow: hidden;
    display: flex;
}

.li-title2 .li_left {
    margin-left: 10px;

}

.li_top .li_right {
    width:58%;
    margin-right:10%;
    box-sizing: border-box;
}
.li_kjlx {
    box-sizing: border-box;
}



.drdd-info4 {
    overflow: hidden;
    display: flex;
    position:relative;
}

.drdd-info4 p {
    width: 115px;
    margin-top:15px;
    padding-left:10px;
}

#zitidian-choose {
    border-style: none;
}

.drdd-info2 {
    margin-bottom:10px;
}


.li_yzcode {
    position:absolute;
    top:15px;
    right:10px;
}


/*爱心公益*/
.li_gytp {
    height: 170px;
}
.li_itmes,
.li_txts{
   display: inline-block;

}

.li_fontsize {
    font-size: 15px;
}

.img-txt {
    position: relative;

}


.img-txt .much {
    position: absolute;
    top:140px;
    right: 5px;
    width: 60px;
}
.li_gynr {
    width: 30%;
    float: left;
    margin-left:8px;
}
.li_gynr .li_itmes {
    width: 100%;
}


.gyicon {
    width: 6%;
    margin-left:-25px;
    padding-right: 10px;
    margin-top: 10px;
}

/*公益活动*/
.li_aximg {
    width: 100%;
    height: 500px;
}

.li_axtxt {
    padding:0;
    margin:0;
    border-bottom: 1px solid #ccc;
}

.li_axtxt p{
 font-size: 0.7rem;
}

.li_imgs img {
    margin-bottom:10px;
    display: block;
    width: 100%;
    height: 500px;
}



/*附近工匠_好工匠*/

/*.li_gps {*/
    /*width: 20px;*/
    /*height: 20px;*/
    /*border:1px solid deepskyblue;*/
    /*background:deepskyblue;*/
    /*border-radius: 20px 20px 20px 3px;*/
 /*position: absolute;*/
    /*top:46%;*/
    /*left:59%;*/
    /*z-index: 100;*/
/*}*/


/*装修—工长列表*/

.li_gzlist {
    width: 100%;
    height: 4.7rem;
    border-bottom: 1px solid #000;
    margin-bottom: 10px;
}

.li_gzmeg a {
    padding:0;
    margin:0;
    background: #E59449;
    margin-left: 10px;
    color:#fff;
    border-radius: 3px;
    text-align: center;
}

.li_gzmeg .blue {
   background:#488AEA;
}

.li_gzimg {
    width: 4.6rem;

}
.li_gzimg img {
    width: 90%;
}


.li_icon {
    width: 6.3rem;
    margin-right: 3%;
    margin-top: 5px;

}

.li_icon .phone img {
    width: 50%;

}

.li_icon .phone {
    padding-left:2rem;
}




.li_icon .like span {
    color:#E59449;
}

.li_icon .like img {
    width: 19%;
}




.li_icon .gps img {
    width: 10%;
}



.li_gzmeg .li_gzname {
    font-size: 1rem;
}

.li_gzmeg .li_gzname img {
    width: 13%;
}


.li_gzmeg ul li {
    font-size: 0.8rem;
    padding-bottom: 4px;
}

.li_gzsign {
    display: inline-block;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    background:#E59449;
    text-align: center;
    line-height: 70px;
    position: fixed;
    bottom: 50px;
    right:5%;
}

/*工长注册按钮*/
.li_gzsign a {
    color:#fff;
}


.quanbu-ul11 {
    width: 100%;
    /*margin-left:10%;*/
}

.quanbu-ul11 li {
    float: left;
    width: 33%;
}



/*精装列表页*/

.li_jpgz ul li {
    float: left;
}


.li_jpgz {
    width: 100%;
    height: 0.7rem;
    border-bottom:1px solid #000;
}

.li_jpgz .img {
    width: 8%;
    margin-top: -20px;
}


.li_jpgz .title {
    font-size:0.4rem;
    margin-left:0.3rem;
    margin: 8px;
}

.li_jpgz .much {
    font-size:0.3rem;
    margin-left:46%;
    margin-top:15px;
}



.li_allfirm {
    width: 100%;
    border-bottom:1px solid #ccc;
}

.li_firm {
    width: 100%;
    height: 40px;
    overflow: hidden;
}

.li_firm ul li {
    float: left;
}

.li_firm .firm_img {
    width: 0.7rem;
    margin-top: -25px;
}

.li_firm .firm_name{
   font-size: 0.4rem;
}

.li_firm .vip_img {
    width: 0.7rem;
    margin-top: -25px;

}


.li_firmtxt {
    width: 100%;
}



.li_gzshow {
    width: 100%;
    height: 70px;
    float: left;
    margin-top: 20px;
}



.li_gzshow ul li {
    width: 29.333%;
    float: left;
    padding-left: 3%;
}






