body{
	background:#fff
}

.bdbtn{
	clear:both;
	width:100%;
	height:50px;
	color:#fff;
	background:#fabf1d;
	text-align:center;
	line-height:50px;
	position: absolute;
	margin-top:200px;
}