<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yq.dao.receiveOrder.JdbReceiveOrderMapper">
  <resultMap id="BaseResultMap" type="com.yq.entity.receiveOrder.JdbReceiveOrder">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="oppen_id" jdbcType="VARCHAR" property="oppenId" />
    <result column="service_id" jdbcType="VARCHAR" property="serviceId" />
    <result column="create_time" jdbcType="VARCHAR" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, oppen_id, service_id, create_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from jdb_receive_order
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from jdb_receive_order
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.yq.entity.receiveOrder.JdbReceiveOrder">
    insert into jdb_receive_order (id, oppen_id, service_id,
      create_time)
    values (#{id,jdbcType=VARCHAR}, #{oppenId,jdbcType=VARCHAR}, #{serviceId,jdbcType=VARCHAR},
      #{createTime,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.yq.entity.receiveOrder.JdbReceiveOrder">
    insert into jdb_receive_order
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="oppenId != null">
        oppen_id,
      </if>
      <if test="serviceId != null">
        service_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="oppenId != null">
        #{oppenId,jdbcType=VARCHAR},
      </if>
      <if test="serviceId != null">
        #{serviceId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yq.entity.receiveOrder.JdbReceiveOrder">
    update jdb_receive_order
    <set>
      <if test="oppenId != null">
        oppen_id = #{oppenId,jdbcType=VARCHAR},
      </if>
      <if test="serviceId != null">
        service_id = #{serviceId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yq.entity.receiveOrder.JdbReceiveOrder">
    update jdb_receive_order
    set oppen_id = #{oppenId,jdbcType=VARCHAR},
      service_id = #{serviceId,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>